/Clase 00

# Common files

.DS_Store
/**/.DS_Store
/node_modules
/**/node_modules
**/**/node_modules
.vscode
# /Clase 00/Profe/Ejercicio
# /Clase 00/Profe/Desafío

/Teoria plataforma

# /Clase 01/Profe/Ejercicio
# /Clase 01/Profe/Desafío

# /Clase 02/Profe/Ejercicio
# /Clase 02/Profe/Desafío
# /Clase 03/Profe/Desafío
# /Clase 03/Profe/Ejercicio
# /Clase 04/Profe/Ejercicio
# /Clase 04/Profe/Desafío
# /Clase 05/Profe/Desafío
# /Clase 06/Profe/Desafío
# /Clase 05/Profe/Ejercicio
# /Clase 06/Profe/Ejercicio
# /Clase 07/Profe/Desafío
# /Clase 07/Profe/Ejercicio
# /Clase 08/Profe/Ejercicio
# /Clase 08/Profe/Desafío
# /Clase 09/Profe/Ejercicio
# /Clase 09/Profe/Desafío
/Clase 10 - 11
/Clase 12/Profe/Ejercicio
/Clase 12/Profe/Desafío
/Clase 13
/Clase 14
/Clase 15
/Clase 16
/Clase 17 - 18

